body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h2 {
  margin: 10px;
}

.current-user {
  background: #6c8ebf;
  padding: 7px 7px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  width: max-content;
  align-self: center;
  margin-bottom: 2rem;
}

.container {
  gap: 3rem;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.options a {
  display: block;
  color: #000000;
  width: 100%;
  height: 100%;
}
.option {
  transition: all 0.3s;
}
.option:hover {
  transform: scale(1.2);
}

.search-option,
.update-option,
.delete-option {
  padding: 1.7rem 1rem;
  border-radius: 10px;
}

.search-option {
  background: #82b36672;
  border: 2px solid #82b366;
}
.update-option {
  background: #e1d5e7;
  border: 2px solid #9673a6;
}
.delete-option {
  background: #f8cecc;
  border: 2px solid #b85450;
}
