body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  background: #67b26f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #4ca2cd,
    #67b26f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #4ca2cd,
    #67b26f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form {
  display: flex;
  flex-direction: column;
}
.container {
  border: 2px solid #ffffff;
  border-radius: 17px;
  padding: 1rem 15px;
  min-width: 300px;
  min-height: 300px;
  gap: 2rem;
  background: #00000035;
}

.header {
  text-align: center;
  color: #ffffff;
}

.header h2 {
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 100%;
}

input[type="text"],
input[type="password"] {
  border: 1px solid #82b366;
  border-radius: 17px;
  padding: 7px 10px;
}

input[type="text"]:focus,
input[type="submit"]:focus,
input[type="password"]:focus {
  outline: 2px solid #dbdbdb;
}

input[type="submit"] {
  border: 1px solid #82b366;
  border-radius: 17px;
  padding: 7px 10px;
  background: #82b36672;
  cursor: pointer;
  transition: 0.3s;
  color: red;
}

input[type="submit"]:hover {
  background: #82b366ae;
}
